*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    
}
.main{
    width: 25rem;
    height: 37rem;
  
    background-color: rgba(46, 48, 48, 0.659);
    border: 2px solid rgb(77, 77, 77);
    border-radius: 20px;
    box-shadow: -2px -2px 10px  rgb(3, 184, 235), 2px 2px 10px rgb(20, 223, 81) ;
    
}
.calculator{
    /* width: 25rem;
    height: 37rem; */

    padding: 20px;
    max-width: 40rem;
    max-height: 50rem;

    
}

.btn{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);      
    border: none;
    color: white;
    font-size: 20px;
    box-shadow: -2px -2px 5px rgba(181, 181, 180, 0.6), 2px 2px 5px rgb(6, 6, 6);    
}
#special-button{
    color: greenyellow;
}
#equal{
    background-color: orange;
}
.button-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    text-align: center;
     
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}
#textarea{
    width: 20rem;
    height:8rem;
    margin: 2vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;     
    
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    padding: 5px;
    box-sizing: border-box;
}